.image-component {
    padding-top: 60px;
    padding-bottom: 100px;
} 
.row1 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;

}
  
.column {
    -ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 6px;
  
}
.column img {
    margin-top: 10px;
    vertical-align: middle;
    object-fit: cover; 
    width: 100%; 
    height: auto;
}  

.column-4 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 8px;
}
.column-4 img {
    margin-top: 10px;
    object-fit: cover; 
    width: 100%; 
    height: auto;
}  
.column-2 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 8px;
}
.column-2 img {
    margin-top: 10px;
    object-fit: cover; 
    width: 100%; 
    height: auto;
}   
 

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    .column-4 {
        -ms-flex: 33.33%;
        flex: 33.33%;
        max-width: 33.33%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .column-4 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .column-2 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


 

  